<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TK-Dev
        // Bootstrap CSS CDN
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')
        link(rel="stylesheet", href="css/main.css")
        block styles

        block link
            -var selected = 'home'


    body
        //Navigation Bar
        nav.navbar.fixed-top.navbar-expand-lg.navbar-dark(style='background-color: var(--primary-color);')
            div.container-fluid
                a.navbar-brand(href='index') Terry Keyrouz | TK-Dev
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                div#navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item
                            a.nav-link(href='portfolio', class=(selected === 'portfolio' ? 'active' : '')) Portfolio
                        li.nav-item
                            a.nav-link(href='about', class=(selected === 'about' ? 'active' : '')) About me
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Projects
                            .dropdown-menu(aria-labelledby='navbarDropdown')
                                a.dropdown-item(href='#') Games
                                a.dropdown-item(href='#') Apps
                                a.dropdown-item(href='#') Software
                    form.form-inline.my-2.my-lg-0
                        ul.navbar-nav.mr-auto
                            li.nav-item.col-6.col-md-auto
                                a.nav-link.p-2(href='https://github.com/terrytyk77' target='_blank' rel='noopener')
                                    svg(width='30' height='30' viewbox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M19.9975 0.416382C8.955 0.416382 0 9.40638 0 20.4964C0 29.3664 5.73 36.8914 13.68 39.5489C14.68 39.7339 15.045 39.1139 15.045 38.5814C15.045 38.1039 15.0275 36.8414 15.0175 35.1664C9.455 36.3789 8.28 32.4739 8.28 32.4739C7.3725 30.1539 6.06 29.5364 6.06 29.5364C4.2425 28.2914 6.195 28.3164 6.195 28.3164C8.2025 28.4589 9.2575 30.3864 9.2575 30.3864C11.0425 33.4539 13.94 32.5689 15.08 32.0539C15.26 30.7564 15.7775 29.8714 16.35 29.3689C11.91 28.8614 7.24 27.1389 7.24 19.4464C7.24 17.2539 8.02 15.4614 9.3 14.0564C9.0925 13.5489 8.4075 11.5064 9.495 8.74388C9.495 8.74388 11.175 8.20388 14.995 10.8014C16.59 10.3564 18.3 10.1339 20.0025 10.1264C21.7 10.1364 23.4125 10.3564 25.01 10.8039C28.8275 8.20638 30.505 8.74638 30.505 8.74638C31.595 11.5114 30.91 13.5514 30.705 14.0589C31.9875 15.4639 32.76 17.2564 32.76 19.4489C32.76 27.1614 28.085 28.8589 23.63 29.3564C24.3475 29.9764 24.9875 31.2014 24.9875 33.0739C24.9875 35.7589 24.9625 37.9239 24.9625 38.5814C24.9625 39.1189 25.3225 39.7439 26.3375 39.5464C34.275 36.8864 40 29.3639 40 20.4964C40 9.40638 31.045 0.416382 19.9975 0.416382Z' fill='white')
                                        title GitHub
                                    small.d-md-none.ms-2 GitHub
                            li.nav-item.col-6.col-md-auto
                                a.nav-link.p-2(href='https://www.youtube.com/channel/UCRD83SMa_AP-w657HNM3EFQ' target='_blank' rel='noopener')
                                    svg(width='35' height='35' viewbox='0 0 47 33' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M45.9091 5.13553C45.369 3.12738 43.7857 1.54438 41.7778 1.00365C38.1097 0 23.4369 0 23.4369 0C23.4369 0 8.76474 0 5.09663 0.965594C3.12738 1.50575 1.50547 3.12767 0.965309 5.13553C0 8.80336 0 16.41 0 16.41C0 16.41 0 24.0549 0.965309 27.6844C1.50604 29.6922 3.08876 31.2752 5.09691 31.816C8.80337 32.8199 23.4375 32.8199 23.4375 32.8199C23.4375 32.8199 38.1097 32.8199 41.7778 31.8543C43.7859 31.3139 45.369 29.7309 45.9097 27.723C46.8747 24.0549 46.8747 16.4486 46.8747 16.4486C46.8747 16.4486 46.9133 8.80336 45.9091 5.13553ZM18.7654 23.4372V9.38272L30.9666 16.41L18.7654 23.4372Z' fill='white')
                                        title Youtube
                                    small.d-md-none.ms-2 Youtube
                            li.nav-item.col-6.col-md-auto
                                a.nav-link.p-2(href='https://www.linkedin.com/in/terry-keyrouz-1b7457207' target='_blank' rel='noopener')
                                    svg(width='25' height='25' viewbox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(d='M34.2 0H3.8C1.71 0 0 1.71 0 3.8V34.2C0 36.29 1.71 38 3.8 38H34.2C36.29 38 38 36.29 38 34.2V3.8C38 1.71 36.29 0 34.2 0ZM11.4 32.3H5.7V15.2H11.4V32.3ZM8.55 11.97C6.65 11.97 5.13 10.45 5.13 8.55C5.13 6.65 6.65 5.13 8.55 5.13C10.45 5.13 11.97 6.65 11.97 8.55C11.97 10.45 10.45 11.97 8.55 11.97ZM32.3 32.3H26.6V22.23C26.6 20.7101 25.27 19.38 23.75 19.38C22.23 19.38 20.9 20.7101 20.9 22.23V32.3H15.2V15.2H20.9V17.48C21.85 15.96 23.94 14.82 25.65 14.82C29.26 14.82 32.3 17.86 32.3 21.47V32.3Z' fill='white')
                                        title LinkedIn
                                    small.d-md-none.ms-2 LinkedIn
        div.bodyContent
            block content

        // Bootstrap JS CDN
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js' integrity='sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF' crossorigin='anonymous')
        
        block scripts
