extends layouts/main-layout.pug

block link
    -var selected = 'about';

block content
    // Page Content
    .row
        .col-lg-12.center
            h1 TK-Dev
        .col-lg-12.center
            h2 Developer
        .col-lg-8.center.offset-md-2
            .videoContainer
                //Youtube Vid
                iframe(width='424' height='238' src='https://www.youtube.com/embed/PyFie0ILE84' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='true').responsive-iframe