extends layouts/main-layout.pug
include functions/projects-mixins.pug

block link
    include data/cv-data.pug
    -var selected = 'about';

block content
    // Page Content
    .row.justify-content-center.primaryTopMargin
        .col-sm-12.col-md-6.col-lg-6.col-xl-6
            .card.primaryVerticalMargin
                +displayProfile(cv.profile)
        .col-sm-12.col-md-6.col-lg-6.col-xl-6
            .card.primaryVerticalMargin
                +displayLanguages(cv.languages)
