extends layouts/main-layout.pug
include functions/projects-mixins.pug

block link
    include data/projects-data.pug
    -   var selected = 'projects';
    
block content
    +createSectionTitle(game_title)
    +createCards(projects.game)
    +createSectionTitle(mobile_title)
    +createCards(projects.mobile, true)