-
    const cv = {
        profile:{
            
        },
        languages:{
            english: {
                description:{
                    reading: 10,
                    understanding: 10,
                    writting: 9
                },
                flag: "image/flag/united-states.svg"
            },
            french: {
                description:{
                    reading: 10,
                    understanding: 10,
                    writting: 8
                },
                flag: "image/flag/france.svg"
            },
            arabic: {
                description:{
                    reading: 8,
                    understanding: 8,
                    writting: 8
                },
                flag: "image/flag/lebanon.svg"
            },
            portuguese: {
                description:{
                    reading: 5,
                    understanding: 7,
                    writting: 5
                },
                flag: "image/flag/portugal.svg"
            }
        }
    }
