// ------------- Images ------------- ||
-
    const image = {
        game: "image/games.png",
        mobile: "image/mobiles.png",
        technology: "image/technology.png",
        language: "image/language.png",
        time: "image/time.png",
        team: "image/team.png",
        download: "image/download.png",
        github: "image/github.png",
        education: "image/education.png",
    }
// ---------------------------------- ||

-
    const cv = {
        profile:{
            image: "image/profile.jpg",
            name: "Terry Keyrouz",
            title: "Fullstack Developer",
            description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
            .replace(/\n/g, '<br>'),
            info:{
                birthday: {
                    title: "Birthday",
                    image: image.time,
                    description:`1998`
                    .replace(/\n/g, '<br>'),
                },
                Education: {
                    title: "Education",
                    image: image.education,
                    description:`Ensino Secundário IT (2000-2000)\n\nLicenciatura Games Development (2019-2022)`
                    .replace(/\n/g, '<br>'),
                }
            }
        },
        languages:{
            english: {
                description:{
                    reading: 10,
                    understanding: 10,
                    writting: 9
                },
                flag: "image/flag/united-states.svg"
            },
            french: {
                description:{
                    reading: 10,
                    understanding: 10,
                    writting: 8
                },
                flag: "image/flag/france.svg"
            },
            arabic: {
                description:{
                    reading: 8,
                    understanding: 8,
                    writting: 8
                },
                flag: "image/flag/lebanon.svg"
            },
            portuguese: {
                description:{
                    reading: 5,
                    understanding: 7,
                    writting: 5
                },
                flag: "image/flag/portugal.svg"
            }
        },
        codding_languages:{
            JS: {
                rate: 10
            },
            "C#": {
                rate: 8
            },
            "C++": {
                rate: 5
            },
            Kotlin:{
                rate: 8
            },
            Lua: {
                rate: 7
            },
            Css: {
                rate: 10
            },
            Html:{
                rate: 10
            }
        },
        technologies:{
            Unity: {
                rate: 10
            },
            NodeJS: {
                rate: 8
            },
            P5JS: {
                rate: 8
            },
            Love2D: {
                rate: 6
            },
            GitHub: {
                rate: 9
            },
            "Android": {
                rate: 7
            },
            Jade:{
                rate: 9
            },
            Bootstrap:{
                rate: 8
            }
        },
        databases: {
            MongoDB: {
                rate: 9
            },
            MySQL: {
                rate: 8
            },
            Access: {
                rate: 5
            }
        },
        others: {
            Figma: {
                rate: 8
            },
            PhotoShop: {
                rate: 6
            },
            Illustrator: {
                rate: 6
            },
            Premier: {
                rate: 7
            },
            Audacity: {
                rate: 7
            },
            "Dragon": {
                rate: 6
            },
            "Microsoft": {
                rate: 9
            }
        }
    }
