-
    const cv = {
        profile:{
            image: "image/profile.jpg",
            name: "Terry Keyrouz",
            title: "Fullstack Developer",
            description: "Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book."
            .replace(/\n/g, '<br>'),
        },
        languages:{
            english: {
                description:{
                    reading: 10,
                    understanding: 10,
                    writting: 9
                },
                flag: "image/flag/united-states.svg"
            },
            french: {
                description:{
                    reading: 10,
                    understanding: 10,
                    writting: 8
                },
                flag: "image/flag/france.svg"
            },
            arabic: {
                description:{
                    reading: 8,
                    understanding: 8,
                    writting: 8
                },
                flag: "image/flag/lebanon.svg"
            },
            portuguese: {
                description:{
                    reading: 5,
                    understanding: 7,
                    writting: 5
                },
                flag: "image/flag/portugal.svg"
            }
        }
    }
