// ------------- Images ------------- ||
-
    const image = {
        game: "/image/games.png",
        mobile: "/image/mobiles.png",
        technology: "/image/technology.png",
        language: "/image/language.png",
        time: "/image/time.png",
        team: "/image/team.png",
        download: "/image/download.png",
        github: "/image/github.png",
        education: "/image/education.png",
    }
// ---------------------------------- ||

// ------------- Projects Section Title ------------- ||
-
    const game_title = {
        title: "Games",
        image: image.game
    }

-
    const mobile_title = {
        title: "Mobile",
        image: image.mobile
    }
// -------------------------------------------------- ||

// ------------- Projects List Object ------------- ||
-
    const projects = {
        game: {
            beyond_the_brush : {
                title: "Beyond The Brush",
                type: "Dungeon Crawler",
                logo: "/image/logo/beyond_the_brush.png",
                front_image:"/image/screenshot/beyond_the_brush/main_menu.jpg",
                video: "https://www.youtube.com/embed/PyFie0ILE84?rel=0",
                link_to_project:"beyond-the-brush.html",
                simple_description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
                .replace(/\n/g, '<br>'),
                detailed_description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
                .replace(/\n/g, '<br>'),
                screen_shots: [
                    "/image/screenshot/beyond_the_brush/main_menu.png",
                    "/image/screenshot/beyond_the_brush/main_menu.png",
                    "/image/screenshot/beyond_the_brush/main_menu.png",
                    "/image/screenshot/beyond_the_brush/main_menu.png",
                    "/image/screenshot/beyond_the_brush/main_menu.png",
                    "/image/screenshot/beyond_the_brush/main_menu.png",
                ],
                info_development: [
                    {
                        title: "Technologies",
                        image: image.technology,
                        description:`Unity 2020\nNode.js\nMongoDB`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Languages",
                        image: image.language,
                        description:`C#\nJavaScript`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Time",
                        image: image.time,
                        description:`2 months`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Team",
                        image: image.team,
                        description:`Terry Keyrouz\nProoheckcp`
                        .replace(/\n/g, '<br>'),
                    }
                ],
                info_source: [
                    {
                        title: "Download",
                        image: image.download,
                        description:`N/A`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Code",
                        image: image.github,
                        description:`https://github.com/terrytyk77/BeyondTheBrushGame`
                        .replace(/\n/g, '<br>'),
                    }
                ]
            },
            ant_invest : {
                title: "Ant Invest",
                type: "Managment Game",
                logo: "/image/logo/ant_invest.png",
                front_image:"/image/screenshot/ant_invest/shop.png",
                video: "https://www.youtube.com/embed/MRZu7O-ugq4?rel=0",
                link_to_project:"ant-invest.html",
                simple_description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s`
                .replace(/\n/g, '<br>'),
                detailed_description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
                .replace(/\n/g, '<br>'),
                screen_shots: [
                    "/image/screenshot/ant_invest/shop.png",
                    "/image/screenshot/ant_invest/shop.png",
                    "/image/screenshot/ant_invest/shop.png",
                    "/image/screenshot/ant_invest/shop.png",
                    "/image/screenshot/ant_invest/shop.png",
                    "/image/screenshot/ant_invest/shop.png"
                ],
                info_development: [
                    {
                        title: "Technologies",
                        image: image.technology,
                        description:`Node.js\nP5.js\nMysql`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Languages",
                        image: image.language,
                        description:`Javascript\nHtml\nCss`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Time",
                        image: image.time,
                        description:`2 months`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Team",
                        image: image.team,
                        description:`Terry Keyrouz`
                        .replace(/\n/g, '<br>'),
                    }
                ],
                info_source: [
                    {
                        title: "Download",
                        image: image.download,
                        description:`N/A`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Code",
                        image: image.github,
                        description:`N/A`
                        .replace(/\n/g, '<br>'),
                    }
                ]   
            },
            whisper_of_death : {
                title: "Whisper of Death",
                type: "Platformer",
                logo: "/image/logo/whisper_of_death.png",
                front_image:"/image/screenshot/whisper_of_death/main_menu.jpg",
                video: "https://www.youtube.com/embed/0htp5Il67pk?rel=0",
                link_to_project:"whisper-of-death.html",
                simple_description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
                .replace(/\n/g, '<br>'),
                detailed_description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
                .replace(/\n/g, '<br>'),
                screen_shots: [
                    "/image/screenshot/whisper_of_death/main_menu.png",
                    "/image/screenshot/whisper_of_death/main_menu.png",
                    "/image/screenshot/whisper_of_death/main_menu.png",
                    "/image/screenshot/whisper_of_death/main_menu.png",
                    "/image/screenshot/whisper_of_death/main_menu.png",
                    "/image/screenshot/whisper_of_death/main_menu.png"
                ],
                info_development: [
                    {
                        title: "Technologies",
                        image: image.technology,
                        description:`LÖVE2D`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Languages",
                        image: image.language,
                        description:`Lua`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Time",
                        image: image.time,
                        description:`2 months`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Team",
                        image: image.team,
                        description:`Terry Keyrouz`
                        .replace(/\n/g, '<br>'),
                    }
                ],
                info_source: [
                    {
                        title: "Download",
                        image: image.download,
                        description:`N/A`
                        .replace(/\n/g, '<br>'),
                    },
                    {
                        title: "Code",
                        image: image.github,
                        description:`N/A`
                        .replace(/\n/g, '<br>'),
                    }
                ]
            }
        },
        mobile: {
            beyond_the_canvas: {
                title: "Beyond The Canvas",
                type: "Companion App",
                front_image:"/image/beyond_the_canvas.png",
                link_to_project:"index.html",
                simple_description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
                .replace(/\n/g, '<br>'),
                detailed_description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
                .replace(/\n/g, '<br>'),
            },
            zeusometer :{
                title: "ZeusOMeter",
                type: "Weather App",
                front_image:"/image/zeus_o_meter.png",
                link_to_project:"index.html",
                simple_description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
                .replace(/\n/g, '<br>'),
                detailed_description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
                .replace(/\n/g, '<br>'),
            }
        }
    }
// ------------------------------------------------- ||