// ------------- Images ------------- ||
-
    const image = {
        game: "image/games.png",
        mobile: "image/mobiles.png",
        technology: "image/technology.png",
        language: "image/language.png",
        time: "image/time.png",
        team: "image/team.png",
        download: "image/download.png",
        github: "dist/image/github.png",
    }
// ---------------------------------- ||

// ------------- Projects Section Title ------------- ||
-
    const game_title = {
        title: "Games",
        image: image.game
    }

-
    const mobile_title = {
        title: "Mobile",
        image: image.mobile
    }

-
    const beyond_the_brush_title = {
        title: "Beyond The Brush",
        image: image.game
    }

// -------------------------------------------------- ||

// ------------- Project Object ------------- ||
-
    const beyond_the_brush = {
        title: "Beyond The Brush",
        video: "https://www.youtube.com/embed/PyFie0ILE84?rel=0",
        description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
        .replace(/\n/g, '<br>'),
        images: [
            "image/shop.png",
            "image/shop.png",
            "image/shop.png",
            "image/shop.png",
            "image/shop.png",
            "image/shop.png",
            "image/shop.png",
            "image/shop.png"
        ],
        info_dev:[
            {
                title: "Technologies",
                image: image.technology,
                description:`Unity\nUnity`
                .replace(/\n/g, '<br>'),
            },
            {
                title: "Languages",
                image: image.language,
                description:`Unity\nUnity`
                .replace(/\n/g, '<br>'),
            },
            {
                title: "Time",
                image: image.team,
                description:`Unity\nUnity`
                .replace(/\n/g, '<br>'),
            },
            {
                title: "Team",
                image: image.team,
                description:`Unity\nUnity`
                .replace(/\n/g, '<br>'),
            },
            {
                title: "Team",
                image: image.team,
                description:`Unity\nUnity`
                .replace(/\n/g, '<br>'),
            },
            {
                title: "Team",
                image: image.time,
                description:`Unity\nUnity`
                .replace(/\n/g, '<br>'),
            }
        ],
        info_source:[
            {
                title: "Download",
                image: image.download,
                description:`Unity\nUnity`
                .replace(/\n/g, '<br>'),
            },
            {
                title: "Code",
                image: image.github,
                description:`Unity\nUnity`
                .replace(/\n/g, '<br>'),
            }
        ]
    }

// ------------------------------------------ ||

// ------------- Projects List Object ------------- ||
-
    const game_project = [
        {
            title: "Beyond The Brush",
            type: "Dungeon Crawler",
            description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
            .replace(/\n/g, '<br>'),
            image:"image/shop.png",
            link:"beyond-the-brush.html"
        },
        {
            title: "Beyond The Canvas",
            type: "Beyond The Brush's Companion App",
            description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s`
            .replace(/\n/g, '<br>'),
            image:"image/shop.png",
            link:"index.html"
        },
        {
            title: "Beyond The Canvas",
            type: "Beyond The Brush's Companion App",
            description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
            .replace(/\n/g, '<br>'),
            image:"image/shop.png",
            link:"index.html"
        },
        {
            title: "Beyond The Canvas",
            type: "Beyond The Brush's Companion App",
            description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
            .replace(/\n/g, '<br>'),
            image:"image/shop.png",
            link:"index.html"
        },
        {
            title: "Beyond The Canvas",
            type: "Beyond The Brush's Companion App",
            description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
            .replace(/\n/g, '<br>'),
            image:"image/shop.png",
            link:"index.html"
        },
        {
            title: "Beyond The Canvas",
            type: "Beyond The Brush's Companion App",
            description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
            .replace(/\n/g, '<br>'),
            image:"image/shop.png",
            link:"index.html"
        },
        {
            title: "Beyond The Canvas",
            type: "Beyond The Brush's Companion App",
            description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
            .replace(/\n/g, '<br>'),
            image:"image/shop.png",
            link:"index.html"
        },
        {
            title: "Beyond The Canvas",
            type: "Beyond The Brush's Companion App",
            description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
            .replace(/\n/g, '<br>'),
            image:"image/shop.png",
            link:"index.html"
        }
    ]

-
    const mobile_project = [
        {
            title: "Beyond The Canvas",
            type: "Beyond The Brush Companion App",
            description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
            .replace(/\n/g, '<br>'),
            image:"image/beyond_the_canvas.png",
            link:"index.html"
        },
        {
            title: "ZeusOMeter",
            type: "Weather App",
            description: `Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.`
            .replace(/\n/g, '<br>'),
            image:"image/zeus_o_meter.png",
            link:"index.html"
        }
    ]

// ------------------------------------------------- ||